body {
    background-color: #333;
    color: #cfc;
    font-family: "Droid Serif", serif;
}

#header h1, #about-me h2, #experience h2, #ai-projects h2, #contact h2 {
    font-size: 3em;
    color: #98ff98;
}

#header nav a {
    color: #cfc;
}

#experience .date, #experience .title, #ai-projects .project-details h3, #contact-form label {
    font-size: 1.25em;
    color: #98ff98;
    font-weight: bold;
}

p, #contact-form input, #contact-form textarea, #contact-form button {
    font-size: 1em;
    color: #cfc;
}

#contact h2 {
    margin-bottom: 10px;
    margin-top: 150px;
}

.project-details h3 a {
    color: #98ff98;
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    #header h1, #about-me h2, #experience h2, #ai-projects h2, #contact h2 {
        font-size: 2.5em;
    }
    p, #experience .date, #experience .title, #ai-projects .project-details h3, #contact-form label {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 480px) {
    #header h1, #about-me h2, #experience h2, #ai-projects h2, #contact h2 {
        font-size: 2em;
    }
    p, #experience .date, #experience .title, #ai-projects .project-details h3, #contact-form label {
        font-size: 0.7em;
    }
}

.nav-link {
    margin-right: 20px;
}

.about-experience {
    display: flex;
    justify-content: flex-start;
    gap: 80px;
}

#experience {
    flex-grow: 1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    z-index: 100;
}

.content-wrapper, header {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 0 20px;
}

.content-wrapper {
    padding-top: 150px;
}

#experience {
    padding-left: 0%;
}

#about-me {
    scroll-margin-top: 150px;
}

#ai-projects {
    scroll-margin-top: 185px;
}

#contact-form label, #contact-form input, #contact-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#details {
    height: 8em;
}

#contact-form input, #contact-form textarea {
    font-family: "Droid Serif", serif;
    font-size: 1em;
    color: #000;
}

#contact-form button {
    background-color: #98ff98;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.project-title {
    display: flex;
    align-items: center;
    font-size: 1.25em;
}

.github-logo {
    width: 20px;
    height: auto;
    margin-left: 10px;
}

.project-content {
    display: flex;
}

.project-title {
    margin-bottom: 0;
}

.project-details p {
    margin-top: 0;
}

.project-image {
    width: 100px;
    height: 100px;
    margin-right: 80px;
}

#about-me, #experience {
    flex: 1;
    margin-bottom: 50px;
}

#ai-projects, #contact {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 0 20px;
}

#about-me {
    flex-basis: 100%;
}

#experience {
    flex-basis: 100%;
}

.experience-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.line1, .line2, .line3 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.line1 .employer-date, .line2 .job-date {
    width: 150px;
}

.job-desc {
    margin-left: 150px;
}

.line1 {
    color: #98ff98;
    font-size: 1.25em;
    font-weight: bold;
}

.line2 {
    color: #cfc;
    font-weight: bold;
}

.project-toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: #cfc;
    text-decoration: underline;
    font-size: 1em;
}

.hidden-video {
    display: none;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.about-me-image {
    width: 400px;
    height: auto;
    display: block;
    margin: 50px auto;
    float: left;
}

