annotated-types    
anyio              
beautifulsoup4     
blinker            
certifi            
charset-normalizer 
click              
contourpy          
cycler             
distro             
exceptiongroup     
Flask              
fonttools          
h11                
httpcore           
httpx              
idna               
itsdangerous       
Jinja2             
kiwisolver         
MarkupSafe         
matplotlib         
numpy              
openai             
packaging          
Pillow             
pip                
pydantic           
pydantic_core      
pyparsing          
python-dateutil    
python-dotenv      
requests           
setuptools         
six                
sniffio            
soupsieve          
tqdm               
typing_extensions  
urllib3            
Werkzeug           
wheel              