<!DOCTYPE html>
<html>
<head>
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<!-- Header -->
<header id="header">
    <h1>Greyson Lampley</h1>
    <div id="subtext">Building AI applications for the "long tail"</div>
    <nav>
        <a href="#about-me" class="nav-link">About Me</a>
        <a href="#ai-projects" class="nav-link">Projects & Certifications</a>
        <a href="https://medium.com/@greysonlampley" class="nav-link" target="_blank">Blog</a>
        <a href="https://drive.google.com/file/d/1t8aCVJRDinxb15trYOw_4YQPlj1VZ5yr/view?usp=sharing" class="nav-link" target="_blank">Full Resume</a>
    </nav>
</header>

<!-- Body -->
<div class="content-wrapper">
    <!-- Wrapper for About Me and Experience Sections -->
    <div class="about-experience">
        <!-- About Me Section -->
        <section id="about-me">
            <h2>About Me</h2>
            <p>Diverse experiences define my career but the consistent threads are hustle and curiosity. These qualities made me an early power user of Generative AI. At the outset, I had the instinct that this technology would revolutionize knowledge and creative work, to a similar extent as the Industrial Age. And I wanted in.</p>
            </p>I jumped both feed in the barrel; (1) taking technical NLP courses, (2) expanding my software development skills spending nights and weekends on GenAI passion projects and (3) even sharing my GenAI thoughts on Medium. Today, I'm an indie hacker with an entrepreneurial spirit, who agrees with Andrew Ng that the long tail of businesses, non-tech and non-enterprise, have the most to gain from GenAI co-pilots.</p>
            </p>When I'm not at the computer, you can find me surfing at Malibu or competing in CrossFit competitions.</p>
            <img src="../static/content/my_face.jpg" alt="Your image" class="about-me-image">
        </section>

        <section id="experience">
            <h2>Experience</h2>
            <div class="experience-item">
                <div class="line1">
                    <span class="employer-date">2020-Present</span>
                    <span class="employer-name">Anheuser-Busch InBev</span>
                </div>
                <div class="line2">
                    <span class="job-date">2022-Present</span>
                    <span class="job-name"><a href="https://variety.com/2023/tv/news/sarah-mclachlan-busch-light-super-bowl-commercial-1235506121/" target="_blank">Sr. Media Manager</a></span>
                </div>
                <div class="line3">
                    <span class="job-desc">Traditional and digital media strategy for biggest players in the beer category (Bud Light, Busch Light, Budweiser). Led 2023 Super Bowl campaign across linear TV, Connected TV and Digital.</span>
                </div>
                <div class="line2">
                    <span class="job-date">2021-2022</span>
                    <span class="job-name">Manager, Social Listening & Analytics</span>
                </div>
                <div class="line3">
                    <span class="job-desc">Data analysis and visualization across owned and paid channels. Product lead of Datorama KPI reporting tool, built to automate a 40 hours per week data wrangling procedure.</span>
                </div>
                <div class="line2">
                    <span class="job-date">2020-2021</span>
                    <span class="job-name"><a href="https://www.ab-inbev.com/careers/global-talent-programs/gmt/" target="_blank">Global Management Trainee Rotational Program</a></span>
                </div>
                <div class="line3">
                    <span class="job-desc">15 month program across diverse sectors of the beer business; tech, supply, sales. Within tech, led Support team transition from Jira to Zendesk; resulting in 15% reduction in ticket resolution time.</span>
                </div>
            </div> 
            <div class="experience-item">
                <div class="line1">
                    <span class="employer-date">2018-2020</span>
                    <span class="employer-name"><a href="https://www.arch-app.com/" style="color: inherit;" target="_blank">Arch App</a></span>
                </div>
                <div class="line2">
                    <span class="job-date"></span>
                    <span class="job-name">Co-Founder, CEO</span>
                </div>
                <div class="line3">
                    <span class="job-desc">Reward bar-goers for going out in groups. Managed vendor partner acquisition, customer success and product; ultimately resulting in our team of 5 launching to 300 early adopters across 12 vendor partners.</span>
                </div>
            </div> 
            <div class="experience-item">
                <div class="line1">
                    <span class="employer-date">2016-2020</span>
                    <span class="employer-name">Pyramid Promotions LLC</span>
                </div>
                <div class="line2">
                    <span class="job-date"></span>
                    <span class="job-name">Owner, Operator</span>
                </div>
                <div class="line3">
                    <span class="job-desc">Produced and promoted large scale social events at local St. Louis venues.</span>
                </div>
            </div>                                
        </section>               
    </div>

    <!-- AI Projects Section -->
    <section id="ai-projects">
        <h2>Projects & Certifications</h2>
        <div class="project-item">
            <div class="project-content">
                <img src="../static/content/chatdocs.png" alt="Project 1" class="project-image">
                <div class="project-details">
                <div class="project-title">
                    <h3>ChatYourDocs</h3>
                    <a href="https://github.com/galampley/chatyourdocs" target="_blank">
                        <img src="../static/content/gh2.png" alt="GitHub Logo" class="github-logo">
                    </a>
                    <a href="https://docqnagpt-mwgzwnm52tv2wxnvjoy62n.streamlit.app/" target="_blank">
                        <img src="../static/content/streamliticon2.png" alt="Streamlit Logo" class="streamlit-logo">
                    </a>
                </div>
                <p>LLM Streamlit tool that allows users to upload their textual documents so the model can faciliate detailed responses to user queries based on the docs' contents. Features: chunking technique, SQLite relational db for embedding storage, cosine similarity search, evaluation for inference accuracy and relevance, traditional unit testing.</p>
                <button class="project-toggle" data-target="#video1">Toggle Demo Video</button>
                <div class="video-container">
                    <video controls id="video1" class="hidden-video" width="1000" height="600">
                        <source src="../static/content/project1-video.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="project-item">
            <div class="project-content">
                <img src="../static/content/whoop2.png" alt="Project 2" class="project-image">
                <div class="project-details">
                <div class="project-title">
                    <h3>Whoop_GPT</h3>
                    <a href="https://github.com/galampley/whoop_gpt" target="_blank">
                        <img src="../static/content/gh2.png" alt="GitHub Logo" class="github-logo">
                    </a>
                </div>
                <p>LLM Streamlit tool that provides numerical data to the model instead of textual. Built with Whoop (health and fitness wearable) OAuth2.0 and FastAPI integration. Features: Langchain Tools to conduct data querying and analysis with natural language.</p>
                <button class="project-toggle" data-target="#video2">Toggle Demo Video</button>
                <div class="video-container">
                    <video controls id="video2" class="hidden-video" width="1000" height="600">
                        <source src="../static/content/project2-video.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="project-item">
            <div class="project-content">
                <img src="../static/content/chatdocs.png"" alt="Project 3" class="project-image">
                <div class="project-details">
                <div class="project-title">
                    <h3>ChatYourDocs x RAG</h3>
                    <a href="https://github.com/galampley/chatyourdocs_rag" target="_blank">
                        <img src="../static/content/gh2.png" alt="GitHub Logo" class="github-logo">
                    </a>
                    <a href="https://chatyourdocsraggit-nkgqbhjhxelajxappohs2a.streamlit.app/" target="_blank">
                        <img src="../static/content/streamliticon2.png" alt="Streamlit Logo" class="streamlit-logo">
                    </a>
                </div>
                <p>LLM Streamlit tool built with same intention as ChatYourDocs above but different retrieval methodology on the backend (RAG). Features: FAISS vectorstore, Langchain RAG implementation, conversational memory.</p>
                <button class="project-toggle" data-target="#video3">Toggle Demo Video</button>
                <div class="video-container">
                    <video controls id="video3" class="hidden-video" width="1000" height="600">
                        <source src="../static/content/project3-video.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="project-item">
            <div class="project-content">
                <img src="../static/content/assistants_test.png"" alt="Project 5" class="project-image">
                <div class="project-details">
                <div class="project-title">
                    <h3>OpenAI Assistants</h3>
                    <a href="https://github.com/galampley/assistants_test" target="_blank">
                        <img src="../static/content/gh2.png" alt="GitHub Logo" class="github-logo">
                    </a>
                </div>
                <p>OpenAI Assistants is my first attempt at customizing an agent with the Assistants API. Retrieval and Code Interpreter out-of-the-box. Custom function calling to come. Integrated a similar version into my portfolio site (see the chatbot icon) to answer questions on my behalf regarding my experience and blog.</p>
                </div>
            </div>
        </div>
        <div class="project-item">
            <div class="project-content">
                <img src="../static/content/Specialization-Logo.png" alt="Project 4" class="project-image">
                <div class="project-details">
                <div class="project-title">
                    <h3>DeepLearning.ai - NLP Specialization</h3>
                </div>
                <p>Intensive course covering Classification and Vector Space, Probabilistic Models, Sequence Models and Attention Models. The course equips the participant with classical machine learning skills and stat-of-the-art deep learning techniques needed to build NLP systems, such as question-answering, sentiment analysis, machine translation, summarization and chatbots.</p>
            </div>
        </div>
        <div class="project-item">
            <div class="project-content">
                <img src="../static/content/mit_cert.png" alt="Project 4" class="project-image">
                <div class="project-details">
                <div class="project-title">
                    <h3>MIT - Designing and Building AI Products and Services</h3>
                </div>
                <p>8-week course for technical product leaders to enhance their understanding of AI technology fundamentals, tools and design processes.</p>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <h2>Let's Chat</h2>
        <p>Submit below or reach out directly at greyson.lampley13@gmail.com.</p>
        <form id="contact-form" action="https://formspree.io/f/mzbljnqy" method="POST">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Enter your name">
            
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your email">
            
            <label for="details">Details</label>
            <textarea id="details" name="details" placeholder="Enter your message"></textarea>
            
            <button type="submit">Submit</button>        
        </form>
    </section>

    <!-- Chatbot Interface -->
    <div id="chatbot-icon">
        <img src="../static/content/chatbot_icon_2.png" alt="Chat Icon" class="chat_icon_image"/> 
    </div>
    <div id="chatbot-container">
        <div id="chat-window">
            <!-- Add the loading spinner code here -->
            <div id="loading-spinner">
                <div style="width:100%;height:0;padding-bottom:20%;position:relative;">
                    <iframe src="https://giphy.com/embed/3oEjI6SIIHBdRxXI40" width="100%" height="100%" style="position:absolute" frameborder="0" class="giphy-embed" allowfullscreen></iframe>
                </div>
                <p><a href="https://giphy.com/gifs/mashable-3oEjI6SIIHBdRxXI40"></a></p>
            </div>
        </div>
        <input type="text" id="message-input" placeholder="Message Bot...">
        <button id="send-button">Send</button>
    </div>
</div>

<script>
    // Get all project toggles
    const projectToggles = document.querySelectorAll(".project-toggle");

    // Add click event listeners to each toggle
    projectToggles.forEach(toggle => {
        toggle.addEventListener("click", () => {
            console.log("Button clicked!"); // Add this line

            const targetVideoId = toggle.getAttribute("data-target");
            console.log(targetVideoId);
            const targetVideo = document.querySelector(targetVideoId);
            console.log(targetVideo);
            const videoOverlay = targetVideo.nextElementSibling; // Get the next element, which is the overlay
            console.log(videoOverlay);

            // Toggle the 'hidden-video' class to show/hide the video
            targetVideo.classList.toggle("hidden-video");
            videoOverlay.style.display = targetVideo.classList.contains("hidden-video") ? "none" : "flex";
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../static/chatbot.js"></script>

</body>
</html>

